
code/featurechart.pyc

code/hungarian-gold-unicode.txt

code/hungarian-sp-nl-tp-sf100.txt

code/hungarian-sp-nl-tp-unsupervised.txt

code/hungarian-sp-pw3-nl-sf16000.txt

code/hungarian/hungarian-pw1-sd-10fold.txt

code/hungarian/hungarian-pw1-sd-nl-tp-10fold.txt

code/hungarian/hungarian-pw1-sd-nl-tp-sf100.txt

code/hungarian/hungarian-pw1-sd-nl-tp-unsupervised.txt

code/hungarian/hungarian-pw1-sd-sf100.txt

code/hungarian/hungarian-pw1-sd-unsupervised.txt

code/hungarian/hungarian-pw1-sp-sd-10fold.txt

code/hungarian/hungarian-pw1-sp-sd-nl-tp-10fold.txt

code/hungarian/hungarian-pw1-sp-sd-nl-tp-sf100.txt

code/hungarian/hungarian-pw1-sp-sd-nl-tp-unsupervised.txt

code/hungarian/hungarian-pw1-sp-sd-sf100.txt

code/hungarian/hungarian-pw1-sp-sd-unsupervised.txt

code/hungarian/hungarian-pw2-sd-10fold.txt

code/hungarian/hungarian-pw2-sd-nl-tp-10fold.txt

code/hungarian/hungarian-pw2-sd-nl-tp-sf100.txt

code/hungarian/hungarian-pw2-sd-nl-tp-unsupervised.txt

code/hungarian/hungarian-pw2-sd-sf100.txt

code/hungarian/hungarian-pw2-sd-unsupervised.txt

code/hungarian/hungarian-pw2-sp-sd-10fold.txt

code/hungarian/hungarian-pw2-sp-sd-nl-tp-10fold.txt

code/hungarian/hungarian-pw2-sp-sd-nl-tp-sf100.txt

code/hungarian/hungarian-pw2-sp-sd-nl-tp-unsupervised.txt

code/hungarian/hungarian-pw2-sp-sd-sf100.txt

code/hungarian/hungarian-pw2-sp-sd-unsupervised.txt

code/hungarian/hungarian-pw3-sd-10fold.txt

code/hungarian/hungarian-pw3-sd-nl-tp-10fold.txt

code/hungarian/hungarian-pw3-sd-nl-tp-sf100.txt

code/hungarian/hungarian-pw3-sd-nl-tp-unsupervised.txt

code/hungarian/hungarian-pw3-sd-sf100.txt

code/hungarian/hungarian-pw3-sd-unsupervised.txt

code/hungarian/hungarian-pw3-sp-sd-10fold.txt

code/hungarian/hungarian-pw3-sp-sd-nl-tp-10fold.txt

code/hungarian/hungarian-pw3-sp-sd-nl-tp-sf100.txt

code/hungarian/hungarian-pw3-sp-sd-nl-tp-unsupervised.txt

code/hungarian/hungarian-pw3-sp-sd-sf100.txt

code/hungarian/hungarian-pw3-sp-sd-unsupervised.txt

code/jcl-postbugfix/br-mbdp-1gram-token-errors.txt

code/jcl-postbugfix/br-mbdp-1gram-token-rs-errors.txt

code/jcl-postbugfix/br-mbdp-1gram-token-rs.txt

code/jcl-postbugfix/br-mbdp-1gram-token.txt

code/jcl-postbugfix/br-mbdp-1gram-type-errors.txt

code/jcl-postbugfix/br-mbdp-1gram-type-rs-errors.txt

code/jcl-postbugfix/br-mbdp-1gram-type-rs.txt

code/jcl-postbugfix/br-mbdp-1gram-type.txt

code/jcl-postbugfix/br-mbdp-2gram-token-errors.txt

code/jcl-postbugfix/br-mbdp-2gram-token-rs-errors.txt

code/jcl-postbugfix/br-mbdp-2gram-token-rs.txt

code/jcl-postbugfix/br-mbdp-2gram-token.txt

code/jcl-postbugfix/br-mbdp-2gram-type-errors.txt

code/jcl-postbugfix/br-mbdp-2gram-type-rs-errors.txt

code/jcl-postbugfix/br-mbdp-2gram-type-rs.txt

code/jcl-postbugfix/br-mbdp-2gram-type.txt

code/jcl-postbugfix/br-mbdp-3gram-token-errors.txt

code/jcl-postbugfix/br-mbdp-3gram-token-rs-errors.txt

code/jcl-postbugfix/br-mbdp-3gram-token-rs.txt

code/jcl-postbugfix/br-mbdp-3gram-token.txt

code/jcl-postbugfix/br-mbdp-3gram-type-errors.txt

code/jcl-postbugfix/br-mbdp-3gram-type-rs-errors.txt

code/jcl-postbugfix/br-mbdp-3gram-type-rs.txt

code/jcl-postbugfix/br-mbdp-3gram-type.txt

code/jcl-postbugfix/br-old-mbdp-1gram-errors.txt

code/jcl-postbugfix/br-old-mbdp-1gram.txt

code/jcl-postbugfix/br-old-mbdp-2gram-errors.txt

code/jcl-postbugfix/br-old-mbdp-2gram.txt

code/jcl-postbugfix/br-old-venk-1gram-errors.txt

code/jcl-postbugfix/br-old-venk-1gram-rs-errors.txt

code/jcl-postbugfix/br-old-venk-1gram-rs.txt

code/jcl-postbugfix/br-old-venk-1gram.txt

code/jcl-postbugfix/br-old-venk-2gram-errors.txt

code/jcl-postbugfix/br-old-venk-2gram-rs-errors.txt

code/jcl-postbugfix/br-old-venk-2gram-rs.txt

code/jcl-postbugfix/br-old-venk-2gram.txt

code/jcl-postbugfix/br-old-venk-3gram-errors.txt

code/jcl-postbugfix/br-old-venk-3gram-rs-errors.txt

code/jcl-postbugfix/br-old-venk-3gram-rs.txt

code/jcl-postbugfix/br-old-venk-3gram.txt

code/jcl-postbugfix/br-old-venk-rs-errors.txt

code/jcl-postbugfix/br-old-venk-rs.txt

code/jcl-postbugfix/br-venk-1gram-token-errors.txt

code/jcl-postbugfix/br-venk-1gram-token-gold-errors.txt

code/jcl-postbugfix/br-venk-1gram-token-gold-rs-errors.txt

code/jcl-postbugfix/br-venk-1gram-token-gold-rs.txt

code/jcl-postbugfix/br-venk-1gram-token-gold.txt

code/jcl-postbugfix/br-venk-1gram-token-rs-errors.txt

code/jcl-postbugfix/br-venk-1gram-token-rs.txt

code/jcl-postbugfix/br-venk-1gram-token.txt

code/jcl-postbugfix/br-venk-1gram-type-errors.txt

code/jcl-postbugfix/br-venk-1gram-type-gold-errors.txt

code/jcl-postbugfix/br-venk-1gram-type-gold-rs-errors.txt

code/jcl-postbugfix/br-venk-1gram-type-gold-rs.txt

code/jcl-postbugfix/br-venk-1gram-type-gold.txt

code/jcl-postbugfix/br-venk-1gram-type-rs-errors.txt

code/jcl-postbugfix/br-venk-1gram-type-rs.txt

code/jcl-postbugfix/br-venk-1gram-type.txt

code/jcl-postbugfix/br-venk-2gram-token-errors.txt

code/jcl-postbugfix/br-venk-2gram-token-gold-errors.txt

code/jcl-postbugfix/br-venk-2gram-token-gold-rs-errors.txt

code/jcl-postbugfix/br-venk-2gram-token-gold-rs.txt

code/jcl-postbugfix/br-venk-2gram-token-gold.txt

code/jcl-postbugfix/br-venk-2gram-token-rs-errors.txt

code/jcl-postbugfix/br-venk-2gram-token-rs.txt

code/jcl-postbugfix/br-venk-2gram-token.txt

code/jcl-postbugfix/br-venk-2gram-type-errors.txt

code/jcl-postbugfix/br-venk-2gram-type-gold-errors.txt

code/jcl-postbugfix/br-venk-2gram-type-gold-rs-errors.txt
